.ad-detail {
	position: fixed;
	top: 6rem;
	bottom: 0;
	left: 0;
	width: $left_panel_size;
	//max-width: $left_panel_size;
	background-color: $light_gray;
	font-family: $font_franklin;
	color: #333;
	z-index: 20;
	display: flex;
	flex-direction: column;
	display: inline-block;
	overflow-y: scroll;
	overscroll-behavior: contain;
	height: calc(100% - 5rem);
	overflow-x: hidden;

	.go_back {
		margin: 1rem 1rem;

		a {
			cursor: pointer;
			text-decoration: none;
			color: $main_color;
		}
	}

	.photos {
		height: 31rem;

		display: flex;
		flex-direction: row;

		.photo-big {
			width: calc(100% - 8rem);

			button {
				background: none;
				border: none;
				margin: 0 0.5rem;
			}
			button:focus {
				outline: 0;
			}

			img {
				margin: 0 auto;
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 0.5rem;
			}
		}
		.small-photos {
			width: 8rem;
			margin: 0 1rem;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			overflow-y: scroll;
			overflow-x: hidden;
			img {
				margin-bottom: 1rem;
				width: 8rem;
				height: 8rem;
				object-fit: cover;
				cursor: pointer;
				border-radius: 0.5rem;
			}
			.small-image {
				opacity: 0.6;
			}
			.selected {
				opacity: 1;
			}
		}
	}
	.bottom_details {
		margin: 3rem 1rem;

		.description {
			padding: 3rem;
		}
		.more-details {
			top: 0;
			margin: 0 auto;
			display: block;
			box-shadow: $l1_shadow;
			background-color: $main_color;
			border-radius: 0.3rem;
			text-align: center;
			box-sizing: border-box;
			width: 15rem;
			text-decoration: none;
			color: white;
			line-height: 4rem;
		}
	}
}

@media screen and (max-width: $mobile_wide) {
	.ad-detail {
		width: 100%;

		.photos {
			flex-direction: row;

			.photo-big {
				img {
					height: 31rem;
				}
			}
			.small-photos {
				flex-direction: column;
				height: 90%;
				overflow-y: scroll;
				overflow-x: hidden;
			}
		}
	}
}

@media screen and (max-width: $mobile_portrait) {
	.ad-detail {
		width: 100%;

		padding-left: 0px;
		.go_back {
			margin: 0;
			padding: 0.5rem 2rem;
		}
		.photos {
			width: 100%;
			flex-direction: column;
			height: fit-content;
			.photo-big {
				width: 100%;
			}
			.small-photos {
				flex-direction: row;
				width: calc(100% - 1rem);
				overflow-x: scroll;
				overflow-y: hidden;
				margin: 0.5rem 0.5rem;
				padding: 0;
				img {
					margin-right: 1rem;
				}
			}
		}
	}
}
