.filter {
	//margin-top: 6rem;
	//scroll-margin-top: 20rem;
	background-color: $light_gray;
	padding: 0 2rem;

	.amenities {
		display: flex;
		flex-direction: row;
	}
	.filter_actions {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.clear_button {
		background: darken($light_gray, 5);
		color: $dark_gray_2;
	}
}
