.filter {
	margin-top: 9rem;
	scroll-margin-top: 9rem;
	background-color: $light_gray;
	height: 100vh;

	.amenities {
		display: flex;
		flex-direction: row;
	}
	.filter_actions {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.clear_button {
		background: darken($light_gray, 5);
		color: $dark_gray_2;
	}
}
