.header {
	top: 0;
	width: 100vw;
	display: flex;
	flex-direction: row;
	height: 8rem;
	justify-content: flex-start;
	background: #fff;
	padding: 1.5rem 3rem 0 3rem;
	box-sizing: border-box;
	border-bottom: 2px solid #d0d0d0;
	.header_title {
		a {
			text-decoration: none;
			font-family: $font_ruda;
			font-size: 36pt;
			color: $main_color;
		}
		display: block;
		width: 30rem;
		min-width: 30rem;
		justify-self: flex-start;
	}

	ul {
		list-style-type: none;
		margin: 0 0 0 3rem;
		padding: 0;
		overflow: hidden;
		height: 100%;
	}

	li {
		float: left;
		height: 100%;
	}

	li a {
		font-family: $font_roboto;
		font-style: normal;
		display: block;
		color: $main_color;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		height: 3.2rem;
		text-transform: capitalize;
		font-size: 12pt;
	}

	.active {
		border-bottom: 0.5rem solid $main_color;
	}

	.search_area {
		width: 60rem;
		height: 4rem;
		margin: 0 3rem 0 3rem;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;

		.search_box {
			max-width: 70%;
			appearance: none;
			border-radius: 0.5rem;
			background: #fff;
			border: 0.1rem solid #e6e6e6;
			height: 100%;
		}
		.search_button {
			background-color: $main_color;
			color: white;
			height: 100%;
			max-width: 3rem;
			margin-left: -3rem;
			height: 4.3rem;
			text-align: center;
			padding: 0;
			img {
				transform: scaleX(-1);
			}
		}

		input:focus {
			outline: none;
			border: 0.1rem solid$main_color;
		}
	}

	.header_name {
		display: block;
		width: 15rem;
		text-transform: capitalize;
	}
	.blue_button {
		box-shadow: $l1_shadow;
		box-sizing: border-box;
		background: $main_color;
		width: 10rem;
		height: 4rem;

		border: none;
		text-align: center;
		border-radius: 0.3em;
		color: #fff;
		float: right;
		justify-self: flex-end;
		margin-right: 0;
	}
}
