.header {
	top: 0;
	width: 100vw;
	display: flex;
	flex-direction: row;
	height: 5.8rem;
	//justify-content: flex-start;
	background: #fff;
	padding: 0rem 2rem;
	box-shadow: $l0_shadow;
	border-bottom: 2px solid $light_gray_nt;
	z-index: 40;
	align-items: center;
	line-height: 8rem;
	.header_icon {
		text-decoration: none;
		color: $main_color;
		font-size: 22pt;
		transform: translateY(-5%);
	}
	.header_title {
		margin-left: 2rem;
		a {
			text-decoration: none;
			font-family: $font_ruda;
			font-size: 22pt;
			color: $main_color;
		}

		img {
			width: 2rem;
		}
		display: block;
		//width: 30rem;
		display: flex;
		flex-direction: row;
		justify-self: flex-start;
	}

	// .menu {
	// 	display: flex;
	// 	flex-direction: row;
	// 	align-items: flex-end;
	// 	height: 100%;
	// 	button {
	// 		line-height: 5rem;
	// 	}
	// 	a {
	// 		height: 5.3rem;
	// 		text-decoration: none;
	// 		line-height: 5.3rem;
	// 		color: gray;
	// 	}
	// 	.active {
	// 		text-decoration: none;
	// 		border-bottom: 0.5rem solid $main_color;
	// 		color: $main_color;
	// 	}
	// 	a > active {
	// 		border-bottom: 0.5rem solid $main_color;
	// 	}
	// }

	.search_area {
		width: 60rem;
		height: 4rem;
		margin: 0 3rem 0 3rem;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		.search_box {
			max-width: 70%;
			appearance: none;
			border-radius: 0.5rem;
			background: #fff;
			border: 0.1rem solid #e6e6e6;
			height: 100%;
			visibility: visible;
		}
		.search_button {
			background-color: $main_color;
			color: white;
			height: 100%;
			max-width: 3rem;
			margin-left: -3rem;
			height: 4.3rem;

			padding: 0;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			img {
				transform: scaleX(-1);
			}
		}

		input:focus {
			outline: none;
			border: 0.1rem solid$main_color;
			width: 100%;
		}
	}
}

@media screen and (max-width: $mobile_wide) {
	.header .search_area .search_box {
		visibility: hidden;
	}
}
