.listing_card {
	width: 35rem;
	height: 40rem;
	box-shadow: $l1_shadow;
	display: flex;
	flex-direction: column;
	border-radius: 0.3rem;
	margin: 2rem 1rem;

	img {
		width: 35rem;
		height: 24rem;
		border-radius: 0.3rem 0.3rem 0 0;
		object-fit: cover;
	}
	.listing_card_bottom {
		padding: 0 1.5rem;
		.title {
			max-width: 80%;
			padding: 0.5rem 0 1rem 0;
			text-transform: capitalize;
			font-weight: bold;
		}
	}
}
