//Local variables
// $box_width: 31.5rem;
// $box_height: 20.4rem;
$box_width: 24rem;
$box_height: 19rem;
.listing_small {
	position: relative;
	display: flex;
	padding: 0;
	border: 0;

	width: $box_width;
	margin: 1rem 0.5rem;

	cursor: pointer;
	button {
		border: 0;
		background: none;
		padding: 0;
	}

	.box_image {
		width: $box_width;

		object-fit: cover;

		border-radius: 0.5rem;
		box-shadow: $l1_shadow;
	}

	.info_box {
		position: absolute;
		bottom: 0rem;
		width: 100%;

		z-index: 1;
		height: 33%;
		color: #fff;
		background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 9%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.65) 100%);
		/* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 9%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.65) 100%);
		/* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 9%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.65) 100%);
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient(
				startColorstr='#00000000',
				endColorstr='#a6000000',
				GradientType=0
			);
		/* IE6-9 */

		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-self: flex-end;

		border-radius: 0.5rem;
	}

	.info_box_bottom {
		display: flex;
		padding: 1.5rem 1.5rem 0.2rem 1.5rem;
		flex-direction: row;
		justify-content: space-around;
		.title {
			text-transform: uppercase;
			text-align: center;
			font-size: smaller;
		}
	}

	.price_tag {
		padding: 0.7rem 0.2rem 0.7rem 0.5rem;
		position: absolute;
		top: 3rem;
		left: -0.3rem;
		display: block;
		background: $price_tag;
		z-index: 1;
		box-shadow: $l2_shadow;
	}

	.price_tag:after {
		content: "";
		height: 0;
		position: absolute;
		width: 0;
		border-color: transparent;
		border-style: solid;
		border-width: 1.6rem;
		border-left-color: $price_tag;
		top: 0;
		left: 100%;
	}
	.external {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		display: block;
		z-index: 1;
	}
	.external_img {
		width: 3rem;
	}
}

@media screen and (max-width: $mobile_wide) {
	$box_width: 24rem;
	$box_height: 19rem;
	.listing_small {
		height: $box_height;
		width: $box_width;
		.box_image {
			width: $box_width;
			height: $box_height;
			object-fit: cover;
		}
	}
}
@media screen and (max-width: $mobile_portrait) {
	$box_width: 100%;
	$box_height: 20rem;
	.listing_small {
		height: $box_height;
		width: $box_width;
		.box_image {
			width: $box_width;
			height: $box_height;
			object-fit: cover;
		}
	}
}
