.listings {
	align-self: flex-start;
	position: relative;
	//  overflow-y: scroll;
	overscroll-behavior: contain;

	overflow: hidden;
	height: calc(100vh - 13rem); //check if this can be done differently
	width: $left_panel_size;

	.listing_results {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;

		overflow-y: scroll;
		height: 100%;
	}
	.results_text {
		padding-left: 2rem;
		width: 100%;
		line-height: 5rem;
		display: block;
		margin-top: 1rem;
	}
	.loading_box {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (max-width: $mobile_wide) {
	.listings {
		width: 100%;
		margin: 0 0 5rem 0;
		height: calc(100vh - 19rem);

		padding-bottom: 19rem;
	}
}
