.price_range {
	display: flex;
	flex-direction: row;
	width: 50rem;

	justify-content: center;
	.range_values {
		margin-top: -28px !important;
		//white-space: nowrap;

		height: 42px;
		padding: 0 !important;
	}
	.pricetag {
		text-align: center;
		margin: 0 2rem;
		width: 5rem;
		align-self: center;
	}
	.pricetag_left {
		left: 0;
	}
	.pricetag_right {
		right: 0;
	}
	.rc-slider {
		width: 30rem;
		align-self: center;
	}
	.rc-slider-handle {
		position: absolute;
		width: 14px;
		height: 14px;
		cursor: pointer;
		cursor: -webkit-grab;
		margin-top: -5px;
		cursor: grab;
		border-radius: 50%;
		border: solid 2px $main_color;
		background-color: $main_color;
		-ms-touch-action: pan-x;
		touch-action: pan-x;
		transform: translateX(50%);
	}
	.rc-slider-handle:focus {
		outline: none;
	}
	.rc-slider-handle-click-focused:focus {
		border: none;
		cursor: pointer;
	}
	.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
		border-color: $main_color;
		box-shadow: none;
	}
	.rc-slider-handle:focus {
		outline: none;
	}
	.rc-slider-handle-click-focused:focus {
		border-color: $main_color;
		box-shadow: unset;
	}
	.rc-slider-handle:hover {
		border-color: $main_color;
	}
	.rc-slider-handle:active {
		border-color: $main_color;
		box-shadow: none;
		cursor: -webkit-grabbing;
		cursor: grabbing;
	}
}

.rc-slider * {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
