.selectable_item {
	width: 6rem;
	height: 7.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 1rem;
	img {
		align-self: flex-start;
		height: 4rem;
	}

	.info {
		height: 4rem;
		text-align: center;
		font-size: small;
		color: $dark_gray_2;
		text-transform: capitalize;
		flex: 0 0 3rem;
	}
}
