//Map variables
$box_width: 31.5rem;
$box_height: 20.4rem;

.box {
	position: relative;
	display: flex;
	box-sizing: border-box;
	padding: 0.5rem 0.5rem 0 0;
	border: 0;
	margin-right: 0.4rem;
	cursor: pointer;

	.box_image {
		height: $box_height;
		width: $box_width;
		min-width: $box_width;

		img {
			object-fit: cover;
		}

		box-sizing: border-box;
		border-radius: 0.5rem;
		box-shadow: $l1_shadow;
	}

	.info_box {
		position: absolute;
		bottom: 0.4rem;
		width: $box_width;

		z-index: 1;
		height: $box_height/3;
		color: #fff;
		background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 9%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.65) 100%);
		/* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 9%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.65) 100%);
		/* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 9%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.65) 100%);
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient(
				startColorstr='#00000000',
				endColorstr='#a6000000',
				GradientType=0
			);
		/* IE6-9 */

		display: flex;
		flex-direction: column;
		justify-content: space-around;

		border-radius: 0.5rem;
	}

	.info_box_bottom {
		display: flex;
		padding: 1.5rem 1.5rem 0.2rem 1.5rem;
		flex-direction: row;
		justify-content: space-around;
		text-transform: capitalize;
	}

	.price_tag {
		padding: 0.7rem 0.2rem 0.7rem 0.5rem;
		position: absolute;
		top: 3rem;
		display: block;
		background: $price_tag;
		z-index: 1;
		box-shadow: $l2_shadow;
	}

	.price_tag:after {
		content: "";
		height: 0;
		position: absolute;
		width: 0;
		border-color: transparent;
		border-style: solid;
		border-width: 1.6rem;
		border-left-color: #fdce71;
		top: 0;
		left: 100%;
	}
	.external {
		padding: 0.7rem 0.2rem 0.7rem 0.5rem;
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		display: block;

		z-index: 1;
	}
	.external_img {
		width: 3rem;
	}
}
