.features {
	padding: 1rem 1rem 1rem 1rem;
	.grid-container {
		display: grid;
		grid-template-columns: auto auto auto;
	}

	.grid-item {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin-bottom: 2rem;

		.icons-text {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			margin-top: 1rem;
			img {
				width: 2rem;
				height: 2rem;
				margin-right: 1rem;
			}
		}
	}
	.description {
		text-align: justify;
		line-height: 1.5;
		font-size: 1.8rem;
		text h4 {
			font-size: 16pt;
		}
	}
}
